<h3>Our memories</h3>
<p>
  Dear Julie,
</p>

<p>
  I know I have not written that many love letters to you before but this one is official.
</p>

<p>
  You make me happy everyday (almost).
</p>

<p>
  From the Beijing-Toronto's flight, I knew there's gotta be something between us. This cute girl is lying on my shoulder for about 10 hours, I was bit surprised but excited.
</p>

<p>
  I was a shy person before I came to the US. I am not couragous to ask girls out. But when I met you, my inner me kept pushing me to express that strong gut feeling anytime (All the pushup and stuff).
</p>

<p>
  I feel lucky that I asked if you wanna be my girl that day. I feel lucky that you said yes (or you didn't say yes but didn't say no either). I'll take that as a yes since we have a baby now.
</p>

<p>
  I had a feeling for you when we were living in Irene's house for just couple of nights. Your white shirt and jeans are so normal but so special at the same time. I was even jealous you talked with Jianan Sheng more than me.
</p>

<p>
  I feel lucky that I initiated the idea to live in a group of 5 in CLE so that I had a chance to meet you. Not to mention you are the substitute of Jingjing Gao. Thank her!
</p>

<p>
  We had so much fight and happiness together but getting married is never a instaneous decision to me just to keep you in the US. I believed and still believe we are gonna have a wonderful life together.
</p>

<p>
  I know I keep saying your math is horrible. But... You are damn smart. Smart people are not necessarily good at math. You are the greatest example.
</p>

<p>
  I don't want to say too much here cause I want to experience much more with you in real life. I hope we have endless stories to tell to our kids and grandkids.
</p>

<p>
  This website is for you & me & Mila (at this moment).
</p>

<p>
  Last but not least, happy birthday, my roommate, my love, my dearest wife!
</p>

<p>
  Savoring every moment with you,
</p>
<p>
  Xi
</p>
<p>
  04/26/2020
</p>
