<h1>UsPlaces</h1>
<p><%= link_to "+ Place", new_place_path %></p>
<div class="row">
  <% if @places.any? %>
    <% @places.each do |p| %>
      <div class="col s4">
        <p><%= link_to "#{p.name} #{p.geo}", place_path(p) %></p>
        <div>
          <iframe width="300" height="300" frameborder="0" style="border:0"
           src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['google_maps_api_key'] %>&q=<%= p.geo %>"
           allowfullscreen>
          </iframe>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
